{% extends "admin/change_list.html" %}

{% block object-tools %}
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <td style="text-align: left;">
                {{ block.super }}
            </td>
            <td style="text-align: right;">
                <a href="{% url 'admin:budynek-import-excel' %}" class="button"
                   style="padding: 7px 15px; font-size: 14px;">
                    Importuj Excel
                </a>
            </td>
        </tr>
    </table>
{% endblock %}
