{% extends 'base_sm.html' %}
{% block content %}
    <div class="container my-4">
        <h2 class="text-center">Zgłoszenie</h2>
        <div class="card shadow-sm mx-auto" style="max-width: 600px;">
            <div class="card-body">
                <h6>Dziękujemy za zgłoszenie!</h6>
                <p>Twoje zgłoszenie zostało pomyślnie wysłane do administracji. Skontaktujemy się z Tobą wkrótce.</p>
                <a href="{% url 'dashboard' %}" class="btn btn-primary btn-block">Wróć do strony głównej</a>
            </div>
        </div>
    </div>
{% endblock %}
