{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">
    <ul class="navbar-nav ms-center">
        <li class="nav-item">
            <a class="btn btn-outline-success" href="{% url 'dashboard' %}">Powrót &nbsp;
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </li>&nbsp;
        <li class="nav-item">
            <a class="btn btn-outline-success" href="{% url 'formularz_zgloszeniowy' %}">Zgłoś problem &nbsp;
                <i class="bi bi-envelope-fill" aria-hidden="true"></i>
            </a>
        </li>&nbsp;
    </ul>
</nav>
